
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #0B0D17;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    border-bottom: 2px solid #1B3B6F;
}
.logo{
    width: 70px;
    cursor: pointer;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s;
    padding: 8px 12px;
    border-radius: 6px;
}

nav ul li a:hover{
    background-color: #2D6CDF;
    color: white;
}
body{
    background-color: #0B0D17;
}
.Inicio h1 {
    width: 100%;
    min-height: 450px; 
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 52px;
    font-weight: bold;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../IMG/galaxia.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
}
footer {
    text-align: center;
    padding: 25px;
    background-color: #07080f;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    color: #718096;
    font-size: 14px;
}